.menu-list {
  display: flex; /* Horizontal layout */
}

.menu-item {
  font-size: 16px;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  text-align: center; /* Center text horizontally */
  height: 100%; /* Full height of the parent */
  padding: 0 5px; /* Horizontal padding */
  cursor: pointer; /* Pointer cursor on hover */
  min-width: 120px; /* Minimum width for each menu option */
}
