.App {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-image: linear-gradient(90deg, #002f52 35%, #326589);
}

li {
  list-style: none; /* Remove default list styling */
}
